/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --color-texto: rgb(0, 0, 0);
    --color-fondo: rgb(255, 255, 255);
    --color-button: rgb(0, 137, 137);
}

body {
    background-color: bisque;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    font-family: 'Open Sans', sans-serif;
}


/* .h1-main {
    font-size: 1.25rem;
}

.h1-section {
    font-size: 5rem;
}

.h1-section-post {
    font-size: 3.5rem;
} */

body>header h1 {
    font-size: 1.25rem;
}

section h1 {
    font-size: 5rem;
}

section#full_post h1 {
    font-size: 3.5rem;
}

article p:nth-of-type(1) {
    font-size: 1.1rem;
}

section h1 {
    margin: 0;
}

article p {
    font-family: 'Lora', serif;
}

section header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--color-fondo)
}

#home header {
    background-image: url("./assets/home-bg.jpg");
}

#about header {
    background-image: url("./assets/about-bg.jpg")
}

#contact header {
    background-image: url("./assets/contact-bg.jpg")
}

#full_post header {
    background-image: url("./assets/post-bg.jpg")
}

section .content-wrapper {
    width: 60%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

body>header,
body>nav {
    color: var(--color-fondo);
    z-index: 1;
}

body>nav {
    position: absolute;
    right: 20%;
    top: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.75rem;
}

nav li {
    display: inline-block;
}

body>nav a {
    display: block;
    padding: .5rem 1rem;
    transition: all 0.8s linear;
}

nav a:hover {
    color: aliceblue;
    background-color: brown;
    transform: scale(1.2);
}

body>header {
    position: absolute;
    top: 1rem;
    left: 20%;
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

section header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-texto);
    opacity: 0.2;
}

section#home .boton-wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

section#home .boton {
    color: var(--color-fondo);
    display: block;
    background-color: var(--color-button);
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}

figure.imagen {
    width: 40%;
    float: right;
}

div.columnas {
    column-count: 2;
    column-gap: 2rem;
}


/* Footer */